body{
    background: rgb(245, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 1px solid #505050;
    border-radius: 50%;
    margin-top: 10px;
}

#title, .subtitle, .post_title {
    color: #505050 ;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    color: #505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list{
    list-style-type: circle;
    padding-left: 15px;
}

.contacts_list li{
    color: rgb(0, 0, 0);

}


